@use 'base' as *;

.hidden {
    display: none !important;
}

//Duiken banner
.duiken-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    min-width: 22.5rem;
    
    img {
        width: 100%;
        object-fit: cover;
        max-height: 90svh;
        filter: brightness(70%);
    }

    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        gap: 0.6rem;

        h1 {
            @include header_text(2.15rem);
        }
        p {
            @include paragraph_text(0.9rem);
            font-weight: 400;
            text-align: center;
        }

        .bottom-text {
            display: flex;
            gap: 0.9rem;
            margin-top: 2.50rem;

            .activeLink {
                color: $color-black;
            }
        
            a {
                @include paragraph_text(0.9rem);
                font-weight: 400;
                color: $color-white;
            }

        }
    }
}

.opleiding-card {
    overflow: hidden;

    p {
        margin-top: 0.3rem;
        max-width: 100%;
        overflow-wrap: break-word;
    }

    &-bottom {
        justify-content: flex-end;
    }
}


// Media Queries
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .duiken-banner {
        &-content {
            gap: 20px;

            h1 {
                @include header_text(4.4rem);
            }
            p {
                @include paragraph_text(1.75rem);
            }
            .bottom-text {             
                a {
                    @include paragraph_text(1.6rem);
                    font-weight: 400;
                    color: $color-white;
                }
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .duiken-banner {
        &-content {
            gap: 30px;

            h1 {
                @include header_text(6.9rem);
            }
            p {
                width: 70%;
                @include paragraph_text(2.25rem);
            }
            .bottom-text {    
                gap: 5rem;         
                a {
                    @include paragraph_text(1.6rem);
                    font-weight: 400;
                    color: $color-white;
                }
            }
        }
    }
}