@use 'base' as *;

.banner {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-white;
    min-width: 360px;
    
    img {
        width: 100%;
        object-fit: cover;
        max-height: 90svh;
        transform: scaleX(-1);
        filter:brightness(70%);
    }

    &-text {
        position: absolute;
        margin-left: 30px;

        .header-title {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            h1 {
                @include header_text(40px);
                margin-bottom: -10px;
            }

            #title-size {
                @include header_text(60px);
            }
        }
        p {
            @include paragraph_text();
            font-weight: 400;
        }
        span {
            font-size: 20px;
            color: $color-primary;
            font-weight: 500;
        }
    }
}

.info {
    min-width: 360px;
    margin-top: 20px;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1, p {
            color: $color-white;
        }

        h1 {
            @include title_text();
            margin: 25px 0 0 30px;
        }

        p {
            @include paragraph_text();
            margin: 10px 30px 0 30px;
        }
    }

    &-button {
        margin: 20px 0 0 30px;
    }
}

// Media Queries
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .banner {
        &-text {
            margin-left: 60px;

            .header-title {
                h1 {
                    @include header_text(90px);
                }
                #title-size {
                    @include header_text(110px);
                }
            }
            p {
                @include paragraph_text(24px);
                font-weight: 400;
            }
            span {
                font-size: 28px;
            }
        }
    }

    .info {
        &-content {
            h1 {
                @include title_text(36px);
                margin: 25px 0 0 50px;
            }
            p {
                width: 60%;
                @include paragraph_text(24px);
                margin: 10px 0 0 50px;
            }
        }
        &-button {
            margin: 20px 0 0 50px;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .banner {
        &-text {
            margin: 0 0 70px 100px;

            .header-title {
                h1 {
                    @include header_text(140px);
                }
                #title-size {
                    @include header_text(160px);
                }
            }
            p {
                @include paragraph_text(36px);
                font-weight: 400;
            }
            span {
                font-size: 40px;
            }
        }
    }

    .info {
        &-content {
            h1 {
                @include title_text(42px);
                margin: 25px 0 0 100px;
            }
            p {
                width: 60%;
                @include paragraph_text(32px);
                margin: 10px 0 0 100px;
            }
        }
        &-button {
            margin: 20px 0 0 100px;
        }
    }
}