@use 'base' as *;

.banner {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-white;
    min-width: 360px;
    
    img {
        width: 100%;
        height: auto;
        transform: scaleX(-1);
        opacity: 60%;
    }

    &-text {
        position: absolute;
        margin-left: 20px;
        .header-title {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            h1 {
                @include header_text(40px);
                margin-bottom: -10px;
            }

            #title-size {
                @include header_text(60px);
            }
        }
        p {
            @include paragraph_text();
        }
        span {
            font-size: 20px;
            color: $color-primary;
            font-weight: 500;
        }
    }
}

.info {
    min-width: 360px;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1, p {
            color: $color-white;
        }

        h1 {
            @include title_text();
            margin: 25px 0 0 30px;
        }

        p {
            @include paragraph_text();
            margin: 10px 50px 0 30px;
        }
    }

    &-button {
        margin: 20px 0 0 30px;

        a {
            color: $color-white;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.opkomendeDuiken {
    min-width: 360px;
    margin-top: 50px;

    &-title {
        @include title_text();
        color: $color-white;
        margin: 25px 0 0 30px;
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        padding: 0 30px;
        gap: 30px;
    }

    &-card {
        background: linear-gradient(45deg, #0D599D, #0D7EE5);
        border-radius: 5px;
        width: 100%;
        padding: 10px 15px;
        // overflow: hidden;
        margin: 25px 0 0 0;

        h1, p {
            color: $color-white;
            white-space: nowrap;
        }

        h1 {
            @include title_text();
        }

        p {
            @include paragraph_text();
        }

        &-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            margin-top: 20px;

            .card-button {
                background-color: $color-white;
                margin-left: 14px;
                
                a {
                    color: $color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}