{% extends 'index' %}

{% set pageTitle = entry.title %}

{% block content %}
<div class="banner">
        <img src="{{ image.url }}" alt="banner_home">
        <div class="banner-text">
            <div class="header-title">
                <h1>{{ entry.title }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
