{% extends 'index' %}

{% set image = home.image.one()  %}


{% block content %}
	<div class="banner">
		<img src="{{ image.url }}" alt="banner_home">
		<div class="banner-text">
			<div class="header-title">
				<h1>{{ home.herotitle | slice(0, 9)}}</h1>
				<span id="title-size">{{ home.herotitle | slice(9)}}</span>
			</div>
			<p>
				<span>Adem</span>
				in,
				<span>Duik</span>
				samen,
				<span>Ontdek</span>
				meer</p>
		</div>
	</div>
	<div class="info">
		<div class="info-content">
			<h1>Niets is minder waar!</h1>
			<p>Wil je leren duiken of gewoon gezellig duiken in een
				                aangename clubsfeer, dan zit je hier goed bij Duikclub Dolfijn.
			</p>
			<button class="standard-button info-button" role="button">
				<a href="#">Over Ons</a>
			</button>
		</div>
	</div>
  
	<div class="opkomendeDuiken">
		<div class="opkomendeDuiken-cards">
			<h1 class="opkomendeDuiken-title">Opkomende Duiken</h1>
			{% for duiken in craft.entries.section('duiken').all() %}
				{% include "snippets/_card.twig" with { 'duiken': duiken } %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
