<div class="section width-fix">
	<div class="section-wrapper">
		<div class="section-wrapper-duikplaatsen">
			<h2 class="title-duikplaatsen">Duikplaatsen</h2>
			<div class="duik-wrapper">
				<h2 class="title-duik">Bilzen</h2>
				<ul>
					<li>Stedelijk Zwembad De Kimpel</li>
					<li>...</li>
				</ul>
			</div>

			<div class="duik-wrapper">
				<h2 class="title-duik">Zeeland</h2>
				<ul>
					<li>Veerse meer</li>
					<li>...</li>
				</ul>
			</div>

			<div class="duik-wrapper">
				<h2 class="title-duik">Kleine stelle</h2>
				<p>Deze tekst is als opvulling zodat ik kan kijken hoe de teksten de pagina
					                            zullen opvullen eenmaal er actuele tekst opstaat, niet deze tekst dus maar andere
					                            tekst.
				</p>
			</div>

		</div>
	</div>
</div>
