<div class="section width-fix">
	<div class="section-wrapper">
		<div class="section-wrapper-initiatie">
			<h2 class="title-initiatie">Initiatielessen</h2>
			<h2 class="time-initiatie">Dinsdag 21:00 - 22:00</h2>
			<h4>Gratis Initiatie</h4>
			<p>Wij bieden zwembadtrainingen aan binnen het Stedelijk Zwembad de Kimpel, Bilzen. In samenspraak met cursisten kunnen 
				                        er ook theorielessen aangeboden worden met de focus op een specifiek brevet.
			</p>
		</div>

		<!-- Hier moet een form komen met de titel "Initiatie deelname formulier" -->

	</div>
</div>
