<div class="section width-fix">
	<div class="section-wrapper">
		<div class="section-wrapper-price">
			<h2 class="title-block">Lidgeld</h2>
			<h2 class="price">€135</h2>
			<p>Deze tekst is als opvulling zodat ik kan kijken hoe ik de pagina kan opvullen voor de teksten 
				                        en info die allemaal nodig gaat zijn binnen deze blok.
			</p>
		</div>

		<div class="section-wrapper-price">
			<h2 class="title-block">Duikmateriaal</h2>
			<h2 class="price">€200-2000</h2>
			<p>Deze tekst is als opvulling zodat ik kan kijken hoe ik de pagina kan opvullen voor de teksten
				                        en info die allemaal nodig gaat zijn binnen deze blok.
			</p>
		</div>

		<div class="section-wrapper-price">
			<h2 class="title-block">Brevetten</h2>
			<h2 class="price">€0</h2>
			<p>Deze tekst is als opvulling zodat ik kan kijken hoe ik de pagina kan opvullen voor de teksten
				                        en info die allemaal nodig gaat zijn binnen deze blok.
			</p>
		</div>
	</div>
</div></div>
