* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Stage Grotesk", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #222222;
}

.no-scroll {
  overflow: hidden;
}

.navigation {
  height: 8svh;
  min-width: 22.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}
.navigation .profile-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(../../template-duikclub/assets/images/animals/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1001;
}
.navigation a {
  z-index: 1001;
}
.navigation .logo {
  width: 6.25rem;
  height: 6.25rem;
}
.navigation #menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
}
.navigation #menu-overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.15rem;
  height: 100%;
}
.navigation #menu-overlay ul li {
  margin-bottom: 1.25rem;
}
.navigation #menu-overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
}
.navigation .menu-icon {
  width: 1.6rem;
  height: 1.25rem;
  position: relative;
  cursor: pointer;
  z-index: 1001;
}
.navigation .menu-icon .line {
  width: 100%;
  height: 0.15rem;
  background-color: #0D7EE5;
  position: absolute;
  right: 0;
}
.navigation .menu-icon .line:nth-child(1) {
  top: 0;
  width: 100%;
}
.navigation .menu-icon .line:nth-child(2) {
  top: 0.6rem;
  width: 75%;
}
.navigation .menu-icon .line:nth-child(3) {
  top: 1.25rem;
  width: 50%;
}
.navigation .menu-icon.active .line:nth-child(1) {
  transform: rotate(45deg);
  top: 0.6rem;
}
.navigation .menu-icon.active .line:nth-child(2) {
  opacity: 0;
}
.navigation .menu-icon.active .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 0.6rem;
  width: 100%;
}

.centered-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  min-width: 22.5rem;
}
.centered-banner img {
  width: 100%;
  object-fit: cover;
  max-height: 90svh;
  filter: brightness(70%);
}
.centered-banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 0.6rem;
}
.centered-banner-content h1 {
  font-size: 2.15rem;
  font-weight: 700;
}

.section {
  min-width: 22.5rem;
  margin-top: 3.15rem;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin: 1.25rem 0 0 2rem;
}
.section-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 1.25rem 2rem 0 2rem;
  gap: 1.25rem;
}
.section-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, #0D599D, #0D7EE5);
  border-radius: 0.3rem;
  padding: 0.6rem 0.9rem;
  width: 100%;
}
.section-card h1, .section-card p {
  color: #fff;
}
.section-card h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-card p {
  font-size: 1rem;
  font-weight: 300;
}
.section-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: 1.25rem;
}
.section-card-bottom a {
  text-decoration: none;
}
.section-card-bottom a .card-button {
  color: #0D7EE5;
  background-color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  min-width: 22.5rem;
  padding: 3.15rem 0 2rem 0;
}
.footer p {
  margin-top: 1rem;
  font-size: 0.75rem;
  font-weight: 300;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.footer-text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-weight: 700;
  color: #0D7EE5;
  text-transform: uppercase;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0.3rem 0;
}
.footer-links a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0 1.25rem 0;
  gap: 1.25rem;
}
.footer-social i {
  font-size: 1.25rem;
}
.footer-federations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.footer-federations img {
  width: 20%;
}
.footer-federations img:nth-child(1) {
  width: 23%;
}
.footer-federations img:nth-child(3) {
  width: 11%;
}

.standard-button {
  appearance: none;
  background-color: #0D7EE5;
  border: 1px solid rgba(58, 74, 90, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.6rem 1.15rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.standard-button a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.standard-button:hover {
  background-color: #2e96cb;
}

.standard-button:active {
  background-color: #0f6b98;
}

.detail-button {
  width: 100%;
  margin: 2.5rem 0 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .standard-button {
    font-size: 1.25rem;
    padding: 0.9rem 1.5rem;
  }
  .navigation {
    padding: 0 3.75rem;
  }
  .navigation .profile-picture {
    width: 2.8rem;
    height: 2.8rem;
  }
  .navigation .logo {
    width: 8.75rem;
    height: 8.75rem;
  }
  .navigation #menu-overlay ul li a {
    font-size: 2.4rem;
  }
  .centered-banner-content {
    gap: 1.25rem;
  }
  .centered-banner-content h1 {
    font-size: 4.4rem;
    font-weight: 700;
  }
  .section-title {
    font-size: 2.25rem;
    font-weight: 500;
    margin: 1.55rem 0 0 3.15rem;
  }
  .section-wrapper {
    gap: 1.25rem;
    margin: 1.25rem 3.15rem 0 3.15rem;
  }
  .section-card {
    width: calc(50% - 0.63rem);
  }
  .section-card h1 {
    font-size: 1.9rem;
    font-weight: 500;
  }
  .section-card p {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .footer-text h2 {
    font-size: 2.25rem;
    font-weight: 500;
    font-weight: 700;
  }
  .footer-links {
    margin: 0.63rem 0;
  }
  .footer-links a {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .footer-social i {
    font-size: 1.9rem;
  }
  .footer p {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1366px) {
  .standard-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  .navigation {
    height: 10svh;
    padding: 0 6.25rem;
  }
  .navigation .profile-picture {
    width: 3.15rem;
    height: 3.15rem;
  }
  .navigation .logo {
    width: 9.4rem;
    height: 9.4rem;
  }
  .navigation #menu-overlay li a {
    margin-left: 1.9rem;
    font-size: 3.15rem;
  }
  .centered-banner-content {
    gap: 1.9rem;
  }
  .centered-banner-content h1 {
    font-size: 6.9rem;
    font-weight: 700;
  }
  .section-title {
    font-size: 2.6rem;
    font-weight: 500;
    margin: 1.5rem 0 0 6.25rem;
  }
  .section-wrapper {
    gap: 1.25rem;
    margin: 1.25rem 6.25rem 0 6.25rem;
  }
  .section-card {
    width: calc(25% - 1.25rem);
  }
  .section-card h1 {
    font-size: 2.25rem;
    font-weight: 500;
  }
  .section-card p {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .footer-text h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-weight: 700;
  }
  .footer-links {
    margin: 1.25rem 0;
  }
  .footer-links a {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .footer-social i {
    font-size: 2.5rem;
  }
  .footer-federations {
    gap: 3.75rem;
  }
  .footer-federations img {
    width: 10%;
  }
  .footer-federations img:nth-child(1) {
    width: 11%;
  }
  .footer-federations img:nth-child(3) {
    width: 6%;
  }
  .footer p {
    margin-top: 1.9rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
}
.banner {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  min-width: 22.5rem;
}
.banner img {
  width: 100%;
  object-fit: cover;
  max-height: 90svh;
  transform: scaleX(-1);
  filter: brightness(70%);
}
.banner-text {
  position: absolute;
  margin-left: 1.9rem;
}
.banner-text .header-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
}
.banner-text .header-title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: -0.6rem;
}
.banner-text .header-title #title-size {
  font-size: 3.75rem;
  font-weight: 700;
}
.banner-text p {
  font-size: 1rem;
  font-weight: 300;
  font-weight: 400;
}
.banner-text span {
  font-size: 1.25rem;
  color: #0D7EE5;
  font-weight: 500;
}

.info {
  min-width: 22.5rem;
  margin-top: 1.25rem;
}
.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.info-content h1, .info-content p {
  color: #fff;
}
.info-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.55rem 0 0 1.9rem;
}
.info-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.6rem 1.9rem 0 1.9rem;
}
.info-button {
  margin: 1.25rem 0 0 1.9rem;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .banner-text {
    margin-left: 3.75rem;
  }
  .banner-text .header-title h1 {
    font-size: 5.6rem;
    font-weight: 700;
  }
  .banner-text .header-title #title-size {
    font-size: 6.9rem;
    font-weight: 700;
  }
  .banner-text p {
    font-size: 1.5rem;
    font-weight: 300;
    font-weight: 400;
  }
  .banner-text span {
    font-size: 1.75rem;
  }
  .info-content h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 1.55rem 0 0 3.15rem;
  }
  .info-content p {
    width: 60%;
    font-size: 24px;
    font-weight: 300;
    margin: 0.6rem 0 0 3.15rem;
  }
  .info-button {
    margin: 1.25rem 0 0 3.15rem;
  }
}
@media only screen and (min-width: 1366px) {
  .banner-text {
    margin: 0 0 4.4rem 6.25rem;
  }
  .banner-text .header-title h1 {
    font-size: 8.75rem;
    font-weight: 700;
  }
  .banner-text .header-title #title-size {
    font-size: 10rem;
    font-weight: 700;
  }
  .banner-text p {
    font-size: 2.25rem;
    font-weight: 300;
    font-weight: 400;
  }
  .banner-text span {
    font-size: 2.5rem;
  }
  .info-content h1 {
    font-size: 2.6rem;
    font-weight: 500;
    margin: 1.55rem 0 0 6.25rem;
  }
  .info-content p {
    width: 60%;
    font-size: 2rem;
    font-weight: 300;
    margin: 0.6rem 0 0 6.25rem;
  }
  .info-button {
    margin: 1.25rem 0 0 6.25rem;
  }
}
.hidden {
  display: none !important;
}

.duiken-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-width: 22.5rem;
}
.duiken-banner img {
  width: 100%;
  object-fit: cover;
  max-height: 90svh;
  filter: brightness(70%);
}
.duiken-banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 0.6rem;
}
.duiken-banner-content h1 {
  font-size: 2.15rem;
  font-weight: 700;
}
.duiken-banner-content p {
  font-size: 0.9rem;
  font-weight: 300;
  font-weight: 400;
  text-align: center;
}
.duiken-banner-content .bottom-text {
  display: flex;
  gap: 0.9rem;
  margin-top: 2.5rem;
}
.duiken-banner-content .bottom-text a {
  font-size: 0.9rem;
  font-weight: 300;
  font-weight: 400;
  color: #fff;
}

.opleiding-card {
  overflow: hidden;
}
.opleiding-card p {
  margin-top: 0.3rem;
  max-width: 100%;
  overflow-wrap: break-word;
}
.opleiding-card-bottom {
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .duiken-banner-content {
    gap: 20px;
  }
  .duiken-banner-content h1 {
    font-size: 4.4rem;
    font-weight: 700;
  }
  .duiken-banner-content p {
    font-size: 1.75rem;
    font-weight: 300;
  }
  .duiken-banner-content .bottom-text a {
    font-size: 1.6rem;
    font-weight: 300;
    font-weight: 400;
    color: #fff;
  }
}
@media only screen and (min-width: 1366px) {
  .duiken-banner-content {
    gap: 30px;
  }
  .duiken-banner-content h1 {
    font-size: 6.9rem;
    font-weight: 700;
  }
  .duiken-banner-content p {
    width: 70%;
    font-size: 2.25rem;
    font-weight: 300;
  }
  .duiken-banner-content .bottom-text {
    gap: 5rem;
  }
  .duiken-banner-content .bottom-text a {
    font-size: 1.6rem;
    font-weight: 300;
    font-weight: 400;
    color: #fff;
  }
}
.evenement-detail-content {
  margin: 1.25rem 1.9rem 0 1.9rem;
}
.evenement-detail-content h1 {
  font-size: 2rem;
  font-weight: 500;
  font-weight: 700;
  color: #0D7EE5;
}
.evenement-detail-content h2, .evenement-detail-content p {
  color: #fff;
}
.evenement-detail-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.25rem 0 0 0;
}
.evenement-detail-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem 0 0 0;
}

.section h1 {
  color: #fff;
}
.section-gallerywrapper {
  place-content: center;
  place-items: center;
  display: grid;
  gap: 2.5rem;
  padding: 2.5rem;
  grid-template-columns: repeat(1, 1fr);
}
.section-gallerywrapper-item {
  transition: 0.2s ease-in-out;
  width: 80%;
}
.section-gallerywrapper-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}
.section-gallerywrapper-item:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
.section-pages {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.section-pages a {
  font-weight: 700;
  padding: 1.25rem 1.15rem;
  background-color: #0D7EE5;
  border-radius: 3px;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .section-gallerywrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1366px) {
  .section h1 {
    color: #fff;
  }
  .section-gallerywrapper {
    margin: 1.25rem 0;
    place-content: center;
    place-items: center;
    display: grid;
    gap: 2.5rem;
    padding: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .section-gallerywrapper-item {
    border: 1px solid green;
    transition: 0.2s ease-in-out;
    width: 100%;
  }
  .section-gallerywrapper-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
  }
  .section-gallerywrapper-item:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=main.css.map */
