* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Stage Grotesk", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #222222;
}

.no-scroll {
  overflow: hidden;
}

.navigation {
  height: 8svh;
  min-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navigation .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../template-duikclub/assets/images/animals/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation .logo {
  width: 100px;
  height: 100px;
  background-image: url(../../template-duikclub/assets/images/logos/Dolfijn.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation #menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
}
.navigation #menu-overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}
.navigation #menu-overlay ul li {
  margin-bottom: 20px;
}
.navigation #menu-overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 28px;
}
.navigation .menu-icon {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1001;
}
.navigation .menu-icon .line {
  width: 100%;
  height: 2.5px;
  background-color: #0D7EE5;
  position: absolute;
  right: 0;
}
.navigation .menu-icon .line:nth-child(1) {
  top: 0;
  width: 100%;
}
.navigation .menu-icon .line:nth-child(2) {
  top: 10px;
  width: 75%;
}
.navigation .menu-icon .line:nth-child(3) {
  top: 20px;
  width: 50%;
}
.navigation .menu-icon.active .line:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.navigation .menu-icon.active .line:nth-child(2) {
  opacity: 0;
}
.navigation .menu-icon.active .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #fff;
  min-width: 360px;
  padding: 50px 0 30px 0;
}
.footer p {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 300;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.footer-text h2 {
  font-size: 24px;
  font-weight: 500;
  font-weight: 700;
  color: #0D7EE5;
  text-transform: uppercase;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.footer-links a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px 0;
  gap: 20px;
}
.footer-federations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-federations img {
  width: 20%;
}
.footer-federations img:nth-child(1) {
  width: 23%;
}
.footer-federations img:nth-child(3) {
  width: 11%;
}

.standard-button {
  appearance: none;
  background-color: #0D7EE5;
  border: 1px solid rgba(58, 74, 90, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.standard-button:hover {
  background-color: #2e96cb;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .standard-button {
    font-size: 20px;
    padding: 14px 24px;
  }
  .navigation {
    padding: 0 60px;
  }
  .navigation .profile-picture {
    width: 45px;
    height: 45px;
  }
  .navigation .logo {
    width: 140px;
    height: 140px;
  }
  .navigation #menu-overlay ul li a {
    font-size: 38px;
  }
  .footer-text h2 {
    font-size: 36px;
    font-weight: 500;
    font-weight: 700;
  }
  .footer-links a {
    font-size: 20px;
    font-weight: 300;
  }
  .footer p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1366px) {
  .standard-button {
    font-size: 26px;
    padding: 18px 30px;
  }
  .navigation {
    padding: 0 100px;
  }
  .navigation .profile-picture {
    width: 50px;
    height: 50px;
  }
  .navigation .logo {
    width: 140px;
    height: 140px;
  }
  .navigation #menu-overlay li a {
    font-size: 50px;
  }
  .footer-text h2 {
    font-size: 40px;
    font-weight: 500;
    font-weight: 700;
  }
  .footer-links a {
    font-size: 24px;
    font-weight: 300;
  }
  .footer-federations {
    gap: 60px;
  }
  .footer-federations img {
    width: 10%;
  }
  .footer-federations img:nth-child(1) {
    width: 11%;
  }
  .footer-federations img:nth-child(3) {
    width: 6%;
  }
  .footer p {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 300;
  }
}
.banner {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  min-width: 360px;
}
.banner img {
  width: 100%;
  object-fit: cover;
  max-height: 92svh;
  transform: scaleX(-1);
  opacity: 60%;
}
.banner-text {
  position: absolute;
  margin-left: 30px;
}
.banner-text .header-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.banner-text .header-title h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: -10px;
}
.banner-text .header-title #title-size {
  font-size: 60px;
  font-weight: 700;
}
.banner-text p {
  font-size: 16px;
  font-weight: 300;
  font-weight: 400;
}
.banner-text span {
  font-size: 20px;
  color: #0D7EE5;
  font-weight: 500;
}

.info {
  min-width: 360px;
  margin-top: 20px;
}
.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.info-content h1, .info-content p {
  color: #fff;
}
.info-content h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 25px 0 0 30px;
}
.info-content p {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 30px 0 30px;
}
.info-button {
  margin: 20px 0 0 30px;
}
.info-button a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.opkomendeDuiken {
  min-width: 360px;
  margin-top: 50px;
}
.opkomendeDuiken-title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 25px 0 0 30px;
}
.opkomendeDuiken-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 30px 0 30px;
  gap: 20px;
}
.opkomendeDuiken-card {
  background: linear-gradient(45deg, #0D599D, #0D7EE5);
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}
.opkomendeDuiken-card h1, .opkomendeDuiken-card p {
  color: #fff;
  white-space: nowrap;
}
.opkomendeDuiken-card h1 {
  font-size: 24px;
  font-weight: 500;
}
.opkomendeDuiken-card p {
  font-size: 16px;
  font-weight: 300;
}
.opkomendeDuiken-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}
.opkomendeDuiken-card-bottom .card-button {
  background-color: #fff;
}
.opkomendeDuiken-card-bottom .card-button a {
  color: #0D7EE5;
  text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .banner-text {
    margin-left: 60px;
  }
  .banner-text .header-title h1 {
    font-size: 90px;
    font-weight: 700;
  }
  .banner-text .header-title #title-size {
    font-size: 110px;
    font-weight: 700;
  }
  .banner-text p {
    font-size: 24px;
    font-weight: 300;
    font-weight: 400;
  }
  .banner-text span {
    font-size: 28px;
  }
  .info-content h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 25px 0 0 50px;
  }
  .info-content p {
    width: 60%;
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 50px;
  }
  .info-button {
    margin: 20px 0 0 50px;
  }
  .opkomendeDuiken-title {
    font-size: 36px;
    font-weight: 500;
    margin: 25px 0 0 50px;
  }
  .opkomendeDuiken-wrapper {
    gap: 20px;
    margin: 20px 50px 0 50px;
  }
  .opkomendeDuiken-card {
    width: calc(50% - 10px);
  }
  .opkomendeDuiken-card h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .opkomendeDuiken-card p {
    font-size: 20px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1366px) {
  .banner-text {
    margin-left: 100px;
  }
  .banner-text .header-title h1 {
    font-size: 140px;
    font-weight: 700;
  }
  .banner-text .header-title #title-size {
    font-size: 160px;
    font-weight: 700;
  }
  .banner-text p {
    font-size: 36px;
    font-weight: 300;
    font-weight: 400;
  }
  .banner-text span {
    font-size: 40px;
  }
  .info-content h1 {
    font-size: 42px;
    font-weight: 500;
    margin: 25px 0 0 100px;
  }
  .info-content p {
    width: 60%;
    font-size: 32px;
    font-weight: 300;
    margin: 10px 0 0 100px;
  }
  .info-button {
    margin: 20px 0 0 100px;
  }
  .opkomendeDuiken-title {
    font-size: 42px;
    font-weight: 500;
    margin: 25px 0 0 100px;
  }
  .opkomendeDuiken-wrapper {
    gap: 20px;
    margin: 20px 100px 0 100px;
  }
  .opkomendeDuiken-card {
    width: calc(33.33% - 20px);
  }
  .opkomendeDuiken-card h1 {
    font-size: 36px;
    font-weight: 500;
  }
  .opkomendeDuiken-card p {
    font-size: 26px;
    font-weight: 300;
  }
}

/*# sourceMappingURL=main.css.map */
